
<!-- /.container-fluid -->
  <div class="container">
    <% if @user %>
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-primary">
            <div class="panel-heading"><%= @user.user_name %></div>
            <div class="panel-body">
              I am Cat God. Worship. Pls.
              <ul>
                <li>Username: <%= @user.user_name%></li>
                <li> <%= test%></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">Followers Commit Feed</div>
            <table class="table">
              <tr>
                <td><strong>SUPER-REPO</strong> wow much commit yeah man</td>
              </tr>
              <tr>
                <td><strong>PRETTY-COOL-REPO</strong> such repo much commit</td>
              </tr>

              <tr>
                <td><strong>AWESOME-REPO</strong> repo repo repo repo repossssss repo repo repo repo repossssss</td>
              </tr>
              <tr>
                <td><strong>SUPER-REPO</strong> moar commit</td>
              </tr>
              <tr>
                <td><strong>PRETTY-COOL-REPO</strong> look at these commits. look at all of these commits.</td>
              </tr>

              <tr>
                <td><strong>AWESOME-REPO</strong>commit commit commit commit commit commmmmmmiiiiiiiitttttt commit commit commit commit commit commmmmmmiiiiiiiitttttt </td>
              </tr>
            </table>
          </div>
        </div>


        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">Global Commit Feed</div>
            <table class="table">
              <% @repos.each do |r| %>
                <tr>
                  <td><strong><%= r.title %></strong> <%= r.blurb %></td>
                </tr>
              <% end %>

            </table>
          </div>

        </div>

      </div>
      <% else %>
        <div class="row">
          <div class="col-md-5">
            <div class="jumbotron">
              <h1>Hello, Kitten!</h1>
              <p>Imagine Twitter for your GitHub repos. Mew away with your friends and favorite projects!</p>
              <p><a id="home_signup_btn" class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#signUp">Sign Up!</a>
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">Global Commit Feed</div>
              <table class="table">
                <tr>
                  <td><strong>SUPER-REPO</strong> wow much commit yeah man</td>
                </tr>
                <tr>
                  <td><strong>PRETTY-COOL-REPO</strong> such repo much commit</td>
                </tr>

                <tr>
                  <td><strong>AWESOME-REPO</strong> repo repo repo repo repossssss repo repo repo repo repossssss</td>
                </tr>
                <tr>
                  <td><strong>SUPER-REPO</strong> moar commit</td>
                </tr>
                <tr>
                  <td><strong>PRETTY-COOL-REPO</strong> look at these commits. look at all of these commits.</td>
                </tr>

                <tr>
                  <td><strong>AWESOME-REPO</strong>commit commit commit commit commit commmmmmmiiiiiiiitttttt commit commit commit commit commit commmmmmmiiiiiiiitttttt </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <% end %>
  </div>
  <script src="js/home.js"></script>
