
<!-- /.container-fluid -->
  <div class="container">
    <% if @user %>
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-primary">
            <div class="panel-heading"><h2><%= @user.user_name %></h2></div>
            <div class="panel-body">
              <h4><%= @user.email %></h4>
              <ul>
                <% @user.repos.each do |r| %>
                  <li>
                    <a href="/repo/<%= r.id %>"> <strong><%= r.title %></strong> <%= r.blurb %> </a>
                  </li>
                <% end %>
              </ul>

            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">Followers Commit Feed</div>
            <table class="table">
              <% Mew.where(repo: User.find(3).rs).each do |mew| %>
              <tr>
                <td><strong><%= mew.get_time%></strong> <a href="/repo/<%= mew.repo.id %>"><%= mew.repo.title.capitalize %></a>-<%= mew.author%>: "<%= mew.message%>"</td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>


        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">Global Commit Feed</div>
            <table class="table">
              <% @repos.each do |r| %>
                <tr>
                  <td><strong><%= r.title %></strong> <%= r.blurb %></td>
                </tr>
              <% end %>

            </table>
          </div>

        </div>

      </div>
      <% else %>
        <div class="row">
          <div class="col-md-5">
            <div class="jumbotron">
              <h1>Hello, Kitten!</h1>
              <p>Imagine Twitter for your GitHub repos. Mew away with your friends and favorite projects!</p>
              <p><a id="home_signup_btn" class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#signUp">Sign Up!</a>
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">Global Commit Feed</div>
              <table class="table">
                <tr>
                  <td><strong>SUPER-REPO</strong> wow much commit yeah man</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <% end %>
  </div>
  <script src="js/home.js"></script>
