<!Doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/css/bootstrap.min.css'>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/jquery.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row" style="text-align:center">
          <div class="col-md-12">
            <h1><%= @repo.title.capitalize %></h1>
            <h2><%= @repo.user.user_name.capitalize %></h2>
            <h3> Full Name + <%= @repo.user.email%> + Website</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <h4><%= @repo.date_location %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <h4>Ruby, Web App</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <div class="btn-group">
              <a href="<%= @repo.demo_link%>" type="button" class="btn btn-primary"> Demo </a>
              <a href="<%= @repo.repo_link%>" type="button" class="btn btn-info"> Repo </a>
              <button type="button" class="btn btn-success"> Kudos <span class="badge">0</span>
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <p><%= @repo.blurb %></p>
          </div>
        </div>


        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="http://placehold.it/350x150" alt="wow">
              <div class="carousel-caption">
                Look at this image.
              </div>
            </div>
            <div class="item">
              <img src="http://placehold.it/350x150" alt="image">
              <div class="carousel-caption">
                Yeah. Images.
              </div>
            </div>
            <div class="item">
              <img src="http://placehold.it/350x150" alt="image">
              <div class="carousel-caption">
                IMAGES.
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>

      </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Commit Feed</div>
          <table class="table">
            <% @repo.mews.each do |mew| %>
              <tr>
                <td><strong><%= mew.get_time%></strong> <%= @repo.title.capitalize %>-<%= mew.author%>: "<%= mew.message%>"</td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

    </div>




  </div>

</body>
