
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row" style="text-align:center">
          <div class="col-md-12">
            <h1><%= @repo.title.capitalize %></h1>
            <h2><%= @repo.user.user_name.capitalize %></h2>
            <h3> Full Name + <%= @repo.user.email%> + Website</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <h4><%= @repo.date_location %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <h4>Ruby, Web App</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <div class="btn-group">
              <a href="<%= @repo.demo_link%>" type="button" class="btn btn-primary"> Demo </a>
              <a href="<%= @repo.repo_link%>" type="button" class="btn btn-info"> Repo </a>
              <% if @user == @repo.user %>
              <button disabled type="button" class="btn btn-success"> Follow <span class="badge"><%= @repo.us.count%></span></button>
              <% elsif @repo.us.where(id: @user.id).empty? %>
              <button type="button" repo_id="<%=@repo.id%>" id="follow_btn" class="btn btn-success"> Follow <span class="badge"><%= @repo.us.count%></span></button>
              <% else %>
              <button type="button" repo_id="<%=@repo.id%>" id="unfollow_btn" class="btn btn-danger"> Unfollow <span class="badge"><%= @repo.us.count%></span></button>
              <% end %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <p><%= @repo.blurb %></p>
          </div>
        </div>




      </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Commit Feed</div>
          <table class="table">
            <% @repo.mews.each do |mew| %>
              <tr>
                <td><strong><%= mew.get_time%></strong> <a href="/repo/<%= @repo.id %>"><%= @repo.title.capitalize %></a>-<%= mew.author%>: "<%= mew.message%>"</td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

    </div>




  </div>
