
  <div class="container">
    <div class="row" >
      <div class="col-md-8" style="background-color:white;">
        <div class="row" style="text-align:center" >
          <div class="col-md-12">
            <h1><%= @repo.title.capitalize %></h1>
            <h2><%= @repo.user.user_name.capitalize %></h2>

              <% if @repo.user.name %>
              <h3><%= @repo.user.name %></h3>
              <% end %>
            <h3>  <a href="mailto:<%= @repo.user.email%>">
               <%= @repo.user.email%></a> </h3>
                <% if @repo.user.website %>
              <h3>  <a href="<%=   @repo.user.website  %>">Website</a></h3>
                  <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <h4><%= @repo.date_location %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <h4><%= @repo.tag_string %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <div class="btn-group">
              <a href="<%= @repo.demo_link%>" type="button" class="btn btn-primary"> Demo </a>
              <a href="<%= @repo.repo_link%>" type="button" class="btn btn-info"> Repo </a>
              <% if session[:current_user] %>
                <% if @user == @repo.user %>
                <button type="button" repo_id="<%=@repo.id%>" id="edit_repo_modal_btn" data-toggle="modal" data-target="#edit_repo_modal" class="btn btn-success"> Edit <span class="badge"><%= @repo.us.count%></span></button>
                <% elsif @repo.us.where(id: @user.id).empty? %>
                <button type="button" repo_id="<%=@repo.id%>" id="follow_btn" class="btn btn-success"> Follow <span class="badge"><%= @repo.us.count%></span></button>
                <% else %>
                <button type="button" repo_id="<%=@repo.id%>" id="unfollow_btn" class="btn btn-danger"> Unfollow <span class="badge"><%= @repo.us.count%></span></button>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <p><%= @repo.blurb %></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <div class="panel panel-default">
              <div class="panel-heading">Comments <button style="float:right;" id="collapse_comment_btn" class="btn btn-warning btn-sm"> <i class="fa fa-caret-square-o-down"></i></button>
                <button style="float:right;" id="uncollapse_comment_btn" class="btn btn-warning btn-sm"> <i class="fa fa-caret-square-o-up"></i></button></div>
              <table class="table">
                <thead>
                  <tr>
                    <% if @user %>
                    <td> <div class="input-group">
                        <textarea  class="form-control custom-control" id="meow_textarea" rows="3" style="resize:none" placeholder="Meow"></textarea>
                        <span repo_id="<%= @repo.id%>" id="comment_btn" class="input-group-addon btn btn-primary meow_btn">Meow</span>
                    </div> </td>
                    <% end %>
                  </tr>
                </thead>
                <tbody id="comment_feed">
                <% @repo.comments.each do |comment| %>
                  <tr>
                    <td> <%= comment.user.user_name %> : <%= comment.message %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Commit Feed</div>
          <table class="table">
            <% @repo.mews.each do |mew| %>
              <tr>
                <td><strong><%= mew.get_time%></strong> <a href="/repo/<%= mew.repo.id %>"><%= mew.repo.title.capitalize %></a>-<%= mew.author%>: "<%= mew.message%>"</td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

    </div>


<!-- Moar Modal -->
<div class="modal fade" id="editRepoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Let's Git Commit'n, Kitten!</h4>
      </div>
      <div class="new_repo_div">
        <form id="new_repo_form" role="form">
          <div class="modal-body">
            <input id="repo_title" class="form-control input-lg" type="text" name="title" placeholder="<%= @repo.title %>">
            <input id="repo_location" class="form-control input-lg" type="text" name="location" placeholder="<%= @repo.date_location %>">
            <input id="repo_demo" class="form-control input-lg" type="url" name="demo" placeholder="<%= @repo.demo_link %>">
            <textarea id="repo_blurb" class="form-control input-lg" name="blurb" placeholder="<%= @repo.blurb %>"></textarea>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger" id="repo_delete_btn" repo="<%= @repo.id %>" type="button">DELETE THIS REPO</button>

            <button class="btn btn-primary" id="repo_edit_btn" repo="<%= @repo.id %>" type="button">OK</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

  </div>

  <div class="modal fade" id="edit_repo_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Repo Form</h4>
      </div>
      <div class="modal-body">
        <form role="form" class="edit_form">
          <input type="text" name="title" placeholder="Title" class="form-control input-lg" value="<%= @repo.title.capitalize%>">
          <input type="text" name="date_location" placeholder="Date Location" class="form-control input-lg" value="<%= @repo.date_location %>">
          <input type="text" name="repo_url" placeholder="Repo Url" class="form-control input-lg" value="<%= @repo.repo_link%>">
          <input type="text" name="demo_url" placeholder="Demo Url" class="form-control input-lg" value="<%= @repo.demo_link%>">
          <input type="text" name="tags" placeholder="Tags(ex: Ruby, Sinatra, Rake) Seperate them by commas" class="form-control input-lg" value="<%= @repo.tag_string%>">
          <textarea placeholder="blurb" name="blurb" class="form-control input-lg" rows="3"><%=  @repo.blurb %></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" repo_id="<%= @repo.id %>" id="delete_repo_btn" class="btn btn-danger" style="float:left;">Delete</button>
        <button type="button" id="edit_repo_btn" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
