<!Doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/css/bootstrap.min.css'>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/jquery.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row" style="text-align:center">
          <div class="col-md-12">
            <h1><%= @repo.title.capitalize %></h1>
            <h2><%= @repo.user.user_name.capitalize %></h2>
            <h3> Full Name + <%= @repo.user.email%> + Website</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <h4><%= @repo.date_location %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <h4>Ruby, Web App</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <div class="btn-group">
              <a href="<%= @repo.demo_link%>" type="button" class="btn btn-primary"> Demo </a>
              <a href="<%= @repo.repo_link%>" type="button" class="btn btn-info"> Repo </a>
              <button type="button" class="btn btn-success"> Kudos <span class="badge">0</span>
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <p><%= @repo.blurb %></p>
            <p><button class="btn btn-default" data-toggle="modal" data-target="#editRepoModal">
              Edit This Repo
            </button><p>
          </div>
        </div>

      </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Commit Feed</div>
          <table class="table">
            <% @repo.mews.each do |mew| %>
              <tr>
                <td><strong><%= mew.get_time%></strong> <a href="/repo/<%= mew.repo.id %>"><%= mew.repo.title.capitalize %></a>-<%= mew.author%>: "<%= mew.message%>"</td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

    </div>


<!-- Moar Modal -->
<div class="modal fade" id="editRepoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Let's Git Commit'n, Kitten!</h4>
      </div>
      <div class="new_repo_div">
        <form id="new_repo_form" role="form">
          <div class="modal-body">
            <input id="repo_title" class="form-control input-lg" type="text" name="title" placeholder="<%= @repo.title %>">
            <input id="repo_location" class="form-control input-lg" type="text" name="location" placeholder="<%= @repo.date_location %>">
            <input id="repo_demo" class="form-control input-lg" type="url" name="demo" placeholder="<%= @repo.demo_link %>">
            <textarea id="repo_blurb" class="form-control input-lg" name="blurb" placeholder="<%= @repo.blurb %>"></textarea>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger" id="repo_delete_btn" repo="<%= @repo.id %>" type="button">DELETE THIS REPO</button>

            <button class="btn btn-primary" id="repo_edit_btn" repo="<%= @repo.id %>" type="button">OK</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

  </div>

</body>
