<!Doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/css/bootstrap.min.css'>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/jquery.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row" style="text-align:center">
          <div class="col-md-12">
            <h1> <%= @repo.title %></h1>
            <h2> <%= @repo.user.user_name %> </h2>
            <h3> <%= @repo.user.email %></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <h4><%= @repo.date_location %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <h4> </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <div class="btn-group">
              <button type="button" class="btn btn-primary"> Demo </button>
              <button type="button" class="btn btn-info"> Repo </button>
              <button type="button" class="btn btn-success"> Kudos <span class="badge">0</span>
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <p><%= @repo.blurb %> </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Commit Feed</div>
          <table class="table">
            <tr>
              <td><strong>SUPER-REPO</strong> wow much commit yeah man</td>
            </tr>
            <tr>
              <td><strong>PRETTY-COOL-REPO</strong> such repo much commit</td>
            </tr>

            <tr>
              <td><strong>AWESOME-REPO</strong> repo repo repo repo repossssss repo repo repo repo repossssss</td>
            </tr>
            <tr>
              <td><strong>SUPER-REPO</strong> moar commit</td>
            </tr>
            <tr>
              <td><strong>PRETTY-COOL-REPO</strong> look at these commits. look at all of these commits.</td>
            </tr>

            <tr>
              <td><strong>AWESOME-REPO</strong>commit commit commit commit commit commmmmmmiiiiiiiitttttt commit commit commit commit commit commmmmmmiiiiiiiitttttt </td>
            </tr>
          </table>
        </div>
      </div>

    </div>




  </div>

</body>
